<div class="container">
  <h1>Create new tasks for your team members!</h1>
  <form (ngSubmit)="addTeamTask()">
    <label for="selectUser" id="selectUser-text">Select member:</label>
    <select id="selectUser" name="selectUser" class="select-users" [(ngModel)]="selectedUser">
      <option value="" disabled selected hidden>Choose an user</option>
      <option *ngFor="let user of usersByTeam">
        {{user.username}}
      </option>
    </select>
    <br><br>
    <label for="deadline">Set the deadline:</label>
    <input type="date" id="deadline" name="deadline" [(ngModel)]="deadline">
    <br><br>
    <label for="title">Set the title:</label>
    <input type="text" id="title" name="title" placeholder="Title of your task..." [(ngModel)]="title">
    <br>
    <label for="task">Enter task:</label>
    <textarea [(ngModel)]="taskText" id="task" name="task" rows="4" cols="50"
      placeholder="Type task here..."></textarea>
    <br>
    <button type="submit" id="add-task-button">Add Task</button>
  </form>
</div>
