<div class="persontal_tasks_body">
  <div class="create_task">
    <input
      class="folder-input"
      type="text"
      placeholder="Folder name"
      [(ngModel)]="newFolder"
    />
    <button (click)="onCreateFolder()">Create Folder</button>
  </div>
  <div class="folders_tasks">
    <div class="folders_list">
      <ul
        *ngFor="let folder of folders; let i = index"
        (click)="onSelectFolder(i)"
        (mouseenter)="showDeleteButton(i)"
        (mouseleave)="hideDeleteButton(i)"
      >
        <li>
          <div class="folder-info">
            <span class="folder-icon"></span>
            {{ folder.name }}
            <button
              class="remove-button"
              *ngIf="highlightedFolder === i"
              (click)="onDeleteFolder(folder.id)"
            >
              Remove
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="tasks_list">
      <ul *ngFor="let task of tasks">
        <p class="task-deadline">{{ task.deadline }}</p>
        <h3 class="task-title">{{ task.title }}</h3>
        <p class="task-text">{{ task.taskText }}</p>
      </ul>
    </div>
  </div>
</div>
